*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    width: 400px;
}

input{
    margin: 10px 0;
    padding: 10px;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}
.but_reg{
    padding: 10px;
    background: green;
    border: unset;
    cursor: pointer;
}
.form_auth{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    width: 100%;
    height: 70px;
    background-color: black;
}

.logo{
    color: red;
    font-family: "Bauhaus 93", serif;
}
.navbar-cont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    b-color: white;
    padding: 0 50px;
    height: 100%;
}
.menu-list{
    display: flex;
    list-style: none;
}
.menu-list-item{
    color: red;
    font-family: "Bahnschrift";
    margin: 100px;
    text-decoration: none;
}
.button{
    background: linear-gradient(to bottom, #ff0000 0%, #ff3399 100%);
    color: black;
    text-decoration:none;
    display:block;
    width: 100px;
    text-align: center;
    transition:all 0.3s;
    font-family: Bahnschrift;
}

.mess{
    padding-top: 10px;
    text-align: center;
}

.download{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 350px;
}


.input_video_button{
    border-style: none;
    background-color: darkgray;
}

.user_image_profile{
    width: 440px;
    height: 248px;
}

.button_back{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_back_click{
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em ;
    background: rgb(64,199,129);
}
.profile_data{
    margin-top: 10px;
}
.button_back{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_back_click{
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em ;
    background: rgb(64,199,129);
}

.profile{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.videos_on_page{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
.video_watch{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#35363a;
    padding-top:5px;
}
.video{
    margin-top:15px;
}

.comments_video{
    display:flex;
    flex-direction:column;
}
.comm{
    margin-top:10px;
}
.textcomment{
    margin-top:10px;
    margin-bottom:10px;
    width: 60%;
    height: 100px;
    padding: 10px;
    outline: 0;
    border: 3px solid #1c87c9;
    line-height: 20px;
}
p{
    font-family: "Berlin Sans FB";
    font-size: 18px;
}
.body_reg{
    background-color: #1c87c9;
}
.name_video{
    font-family: "Berlin Sans FB";
    font-size: 30px;
    color: #e3e3e3;
}
.user_video{
    font-family: "Berlin Sans FB";
    font-size: 25px;
    color: #e3e3e3;
}